<footer class="secondary-bg z-0">
    <div class="container">
        <div class="row flex-column flex-sm-row justify-content-between py-5">
            <div class="col text-center text-white">
                <h2 class="text-uppercase text-white">
                    Location
                </h2>
                <p>2215 John Daniel Drive</p>
                <p>Clark, MO 65243</p>
            </div>
            <div class="col text-center text-white d-flex flex-column gap-2 align-items-center">
                <h2 class="text-uppercase text-white">Around The Web</h2>
                <ul class="list-unstyled d-flex gap-3">
                    <li><i class="fa fa-facebook fs-4 rounded-circle border border-1 p-2"></i></li>
                    <li><i class="fa fa-twitter fs-4 rounded-circle border border-1 p-2"></i></li>
                    <li><i class="fa fa-linkedin fs-4 rounded-circle border border-1 p-2"></i></li>
                    <li><i class="fa fa-globe fs-4 rounded-circle border border-1 p-2"></i></li>
                </ul>
            </div>
            <div class="col text-center text-white">
                <h2 class="text-uppercase text-white">About FreeLancer</h2>
                <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
            </div>
        </div>
    </div>
    <div class="copyrights text-center py-4">
        <p class="mb-0 text-white">
            Copyright &copy; Your Website 2025
        </p>
    </div>
</footer>