<div class="container-fluid vh-100 home priamry-bg">
    <div class="d-flex flex-column justify-content-center align-items-center h-100  ">
        <div class="image-container text-center mb-5">
            <img src="avataaars.svg" class="w-100" alt="">
        </div>
        <h1 class="title text-uppercase fw-bold text-white">
            Start FrameWork
        </h1>
        <div class="decoration d-flex gap-3 align-items-center">
            <span class="before-line"></span>
            <i class="fa fa-star fs-4 text-white my-3"></i>
            <span class="after-line"></span>
        </div>
        <p class="text-white fs-5">Grapic Artist - Web Designer - illstrator</p>
    </div>
</div>