/* You can add global styles to this file, and also import other style files */
:root{
    --main-color: #1abc9c;
    --second-color: #2c3e50;
}

.priamry-bg{
    background-color: var(--main-color);
}
.secondary-bg{
    background-color: var(--second-color);
}
.secondary-text{
    color: var(--second-color);
}
.before-line, .after-line{
    width: 100px;
    height: 5px;

}
.mt-6{
    margin-top: 140px;
}